@use './var' as *;

html {
	font-size: 62.5%; /* 1rem = 10px */
	font-family: $font-family;
	scroll-behavior: smooth;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $color-navy-950;
}
