@use '@sass/var' as *;
@use '@helpers/function' as *;
@use '@helpers/media' as *;
@use '@helpers/mixins' as *;

.card {
	position: relative;
	padding-top: 35px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;

	&__img {
		position: absolute;
		top: 0;
		right: 10px;
		width: 50px;
		z-index: 2;
	}
	&__content {
		position: relative;
		background-color: $color-navy-900;
		height: 120px;
		padding: rem(20);
		border-radius: 10px;
		z-index: 10;
	}
	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: rem(10);
	}
	&__title {
		font-size: rem(12);
		font-weight: $font-weight-normal;
	}
	&__button {
		width: rem(15);
	}
	&__stats {
		display: flex;
		flex-direction: column;
		gap: rem(5);
	}
	&__hours {
		font-size: rem(34);
		font-weight: $font-weight-light;
	}
	&__previous {
		color: $color-navy-200;
		font-size: rem(10);
		font-weight: $font-weight-light;
	}
	&__previous-value {
	}

	&--work {
		background-color: $color-orange-300;
	}
	&--play {
		background-color: $color-blue-300;
	}
	&--study {
		background-color: $color-pink-400;
	}
	&--exercise {
		background-color: $color-green-400;
	}
	&--social {
		background-color: $color-purple-700;
	}
	&--self-care {
		background-color: $color-yellow-300;
	}
}
