@use '@sass/var' as *;
@use '@helpers/function' as *;
@use '@helpers/media' as *;
@use '@helpers/mixins' as *;

.dashboard {
	display: grid;
	grid-template-columns: repeat(4, rem(170));
	grid-template-rows: repeat(2, rem(155));
	grid-column-gap: 30px;
	grid-row-gap: 30px;

	@include mobile {
		grid-template-columns: repeat(1, rem(280));
		grid-template-rows: 0;
	}
}
